body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #F1D302;
    color: rgb(0, 0, 0);
    max-height: 70px;
    margin: 0 auto;
}
nav h1 {
    display: flex;
    align-items: center;
    font-family: "VT323", serif;
    font-size: 3rem;
    margin-left: 3rem; 
}
nav h1 img {
    height: 50px;
    margin-right: 5px;
}
#menu {
    display: flex;
    flex: 1; 
    gap: 12rem;
    margin-right: 10rem;
    justify-content: flex-end;
    font-family: "Poppins",sans-serif;
}
#menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}
#menu a:hover {
    color: #ffffff;
}
#fakebutton {
    display: none;
}
header {
    position: relative;
    width: 100%;
    height: auto;
}
#ImgdeFond {
    display: block;
    width: 100%;
}
#ImgdeFond img {
    width: 100%;
    height: auto;
    display: block;
}
#TxtCentrale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}
#TxtCentrale p {
    margin: 0 0 2rem;
    font-weight: 600;
}
#TxtCentrale button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    padding: 15px 75px;
    font-weight: 600;
    cursor: pointer;
}
#texte {
    background-color: #161925;
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: white;
}
#texte p {
    margin: 0;
    line-height: 1.5;
    font-size: 25px;
    word-spacing: 2px;
}
#Collections {
    text-align: left;
    padding: 20px;
    margin-left: 25px
}
#Collections h2 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
}
.menuCollections {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.collection {
    position: relative;
    width: 70%;
    height: auto;
    overflow: hidden;
}
.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.collection:hover img {
    transform: scale(1.1);
}
.collection .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.collection:hover .overlay {
    opacity: 1;
}
#audio {
    padding: 20px;
    margin-left: 25px;
}
#audio h2{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 28px;
}
.intAudio {
    display: flex;
    align-items: center;
    background-color: #235789;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.imgInt {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.txtint {
    padding: 20px;
    flex: 1;
    margin-left: 30px;
}
.txtint h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.txtint p {
    margin: 5px 0;
    margin-bottom: 20px;
    font-family: "Poppins",sans-serif;
}
.txtint audio {
    margin-top: 70px;
    width: 70%;
}
#videos {
    text-align: center;
    margin: 50px auto;
    padding: 0 20px;
    font-family: "Poppins", sans-serif;
}
#videos h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.intVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.Video1, .Video2 {
    text-align: center;
}
.Video1 video{
    width: 650px;
    height: auto;
}
.Video2 video{
    width: 650px;
    height: 420px;
    margin-bottom: 25px;
}
.Video1 h3{
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 600;
}
.Video2 h3{
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 600;
}
#artistes {
    text-align: center;
    margin: 50px auto;
}
#artistes h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}
.tbl-artistes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
}
.tbl-artistes img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tbl-artistes img:hover {
    transform: scale(1.05);
}
#Apropos {
    text-align: center;
    margin: 50px auto;
}
#Apropos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}
#Apropos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #fff;
}
.contenu h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #000;
}
.contenu img {
    margin: 0;
    width: 1000px;
    height: 500px;
}
h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}
.description {
    font-size: 18px;
    color: #000000;
    margin: 0 auto;
    line-height: 1.5;
}
#Contact{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    margin-top: 100px;
}
.contact-form {
    background-color: #235789;
    color: white;
    padding: 20px 70px;
    text-align: center;
    width: 60%;
}
.contact-form h1 {
    font-size: 28px;
}
.contact-form p {
    font-size: 16px;
}
.contact-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
    transform: translateX(8%);
}
.contact-form input, 
.contact-form textarea {
    display: block;
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 10px;
    transform: translateX(10%);
}
.contact-form button {
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s;
}
.contact-form button:hover {
    background-color: #921a1a;
}
footer {
    margin-top: 100px;
    background-color: #ffd700;
    text-align: center;
    padding: 10px;
}
footer p {
    margin: 10px;
    font-family: "VT323", serif;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

/* Media Queries pour téléphone */
@media (max-width: 768px) {
    nav h1 {
        font-size: 2.5rem;
    }
    nav h1 img {
        height: 60px;
    }
    #menu a {
        display: none;
    }
    #fakebutton {
        display: block;
        font-size: 3rem;
        font-weight: bold;
        margin-left: 9rem;
    }
    #ImgdeFond img {
        height: 60vh;
    }
    #TxtCentrale {
        height: 60vh;
        font-size: 2.2rem;
    }
    #TxtCentrale button {
        font-size: 1.2rem;
        width: 100%;
    }
    .contenu h1,#artistes h2,#Apropos h2,#videos h2,#Collections h2,#audio h2 {
        font-size: 50px;
    }
    #Collections .menuCollections {
        flex-direction: column;
    }
    .collection {
        width: 100%;
        height: auto;
    }
    .intAudio {
        flex-direction: column;
        align-items: start;
    }
    .txtint h3 {
        margin-top: 30px;
        font-size: 50px;
    }
    .txtint p {
        font-size: 30px;
    }
    .txtint audio {
        width: 350px;
    }
    .imgInt {
        width: 100%;
        height: 400px;
    }
    .txtint h3 {
        font-size: 30px;
    }
    .Video1 video,.Video2 video {
        width: 100%;
        height: auto;
    }
    .Video2 h3,.Video1 h3 {
        font-size: 40px ;
    }
    .tbl-artistes {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .contenu img {
        width: 80%;
        height: auto;
    }
    .description {
        font-size: 20px;
        font-weight: bold;
        width: 60%;
        line-height: 1.2;
    }
    .contact-form p {
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: -10px;
    }

    footer p {
    font-size: 5rem;
    }
}

